body {
margin: 0;
min-height: 100vh;
  
  background: 
    radial-gradient(circle, rgba(33, 33, 33, 0.86) 0%, rgba(0, 0, 0, 0.92) 100%),
    url('imagens/brand_IFPB.png') center/contain no-repeat fixed;



    }

/* Estilo personalizado para o card */
  .card-personalizado {
    background-color: #000000;    /* Cor de fundo amarela */
    border: 2px solid #000000;   /* Borda laranja */
    border-radius: 10px;          /* Cantos arredondados */
    color: #ffffff;              /* Cor do texto (preto) */
    transition: transform 0.3s;  /* Efeito de hover suave */

    height: 100%;
  display: flex;
  flex-direction: column;    
  }

  /* Efeito ao passar o mouse */
  .card-personalizado:hover {
  transform: scale(1.03);
  transition: all 0.3s ease;
  box-shadow: 0 10px 20px rgba(0,0,0,0.2) !important;
}

  /* Estilo personalizado para o botão */
  .card-personalizado .btn-outline-secondary {
    border-color: #000000;      /* Borda laranja */
    color: #ff0000;            /* Texto laranja */
  }

  /* Placeholder do SVG dentro do card */
  .card-personalizado svg rect {
    fill: #887b7b;             /* Fundo laranja */
  }

  .card-img-top {
  height: 225px;
  object-fit: cover;
}

.card-body {
  flex: 1; /* Ocupa o espaço restante */
}

/* Estilo personalizado para todos os modais */
.modal-content {
  border: none;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

.modal-header {
  background: linear-gradient(to right, #6a11cb, #2575fc);
  color: white;
  border-bottom: none;
  padding: 1.5rem;
}

.modal-title {
  font-weight: 600;
  font-size: 1.5rem;
}

.modal-body {
  padding: 2rem;
  background-color: #f8f9fa;
}

.modal-footer {
  border-top: none;
  background-color: white;
  padding: 1rem 2rem;
}

/* Ícones nos botões */
.btn-icon {
  display: inline-flex;
  align-items: center;
  gap: 8px;
}